body{
background-color: rgba(247, 237, 232, 1);
min-width: 320px;
/*width: 100%;
height: 100%;*/
}
header {
    background-color: rgba(247, 237, 232, 1);
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    text-align: center;
    font-family: Montserrat Alternates;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;   
}
.icon {
    display: none;
}
.button-1 { 
border-radius: 8%;
width: 14vw;
height: 3vw;
border: 2px solid black;
background-color: rgba(247, 237, 232, 1);
padding: 12px 24px 12px 24px;
font-family: Montserrat Alternates;
font-size: 0.8em;
width: 700;
grid-column: 8;
}
.topnav {
/*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1;
gap: 30px; 
padding: 25px;
margin-top: 30px;
}
.button-2 {
    border-radius: 8%;
    width: 13vw;
    height: 3vw;
    border: 2px solid black;
    background-color: rgb(4, 4, 4);
    padding: 12px/24px/12px/24px;
    font-family: Montserrat Alternates;
    font-size: 1em;
    font-weight: 700;
    grid-column: 9;
}
.text {
    font-family: Montserrat Alternates;
    font-size: 1em;
    font-weight: 700;
    color: black;
    /*почему не становятся черными эти ссылки*/
}
.text-1 {
    color: black;
}
.text-2 {
    color: white
}
.logo {
    margin-left: 14vw;
    margin-top: 24px;
    background-size: contain;
    min-height: 5vh;
    background-repeat: no-repeat;
    width: 74px;
    height: 74px;
    width: 10%;
    }
    .h {
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-size: 5em;
    text-align: center;
    color: black;
    grid-column: 2/4;
    margin-bottom: 1px;
    }
    .h1{
        font-family: Montserrat Alternates;
        font-weight: 700;
        font-size: 5em;
        text-align: center;
        color: brown;
        margin-top: 1px;
        grid-column: 2/4;
        }
    h2 {
        font-family: Montserrat Alternates;
        font-size: 1em;   
        text-align: center;
        grid-column: 2/3;
        /*как его поднять выше*/
    }
    main {
        width: 100%;
        height: 100%;

    }
    .wrap {
    width: 100%;
    height: 100%;
    display: grid;
    /*width: 1440px;*/
    /*grid-template-columns: 300px 3fr 300px;*/
    /*grid-template-rows: 500px 100px 100px;*/
        }
    .button-3 {
        border-radius: 8%;
        width: 18vw;
        height: 65px;
        border: 2px solid black;
        background-color: rgb(4, 4, 4);
        /*padding: 24px 48px 24px 48px;*/
        font-family: Montserrat Alternates;
        font-size: 1em;
        font-weight: 700;
        grid-column: 2;
        margin-left: 200px;
        grid-row: 3;
        /*кнопка по указанным паддингам не выходит на центр, 
        вообще никак не выходит в центр, как ее туда поставить?*/
    }
    .stars{
        grid-column: 5;
        grid-row: 1;  
        padding-top: 40vh; 
    }
        .subs {
        color:  white;
        text-align: center;
        /*текст не выходит на центр*/
        }
    .wrap-1 {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
        grid-template-rows: 2fr;
        border-radius: 12px;
        gap: 15px;
        padding: 10px;
        justify-content: space-between;
        justify-items: center;
    }
    footer {
    height: 50%;
    background-color: rgba(247, 237, 232, 1);
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    text-align: center;
    font-family: Montserrat Alternates;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    }
    .footer_section {
        padding-top: 15px;   
    }
    .img {
        width: 100%;
        object-fit: cover;
        height: 60%;
    }
    @media screen and (max-width: 768px) {
    footer {
    grid-template-columns: repeat(3, 1fr);   
    }
    .button-1 { 
        font-size: 0.3em;
        }
}
@media screen and (max-width: 1120px) {
    .button-1 { 
        font-size: 0.6em;
        }
    @media screen and (max-width: 520px) {
    .header {
    font-size: 1.5em;
    }
    .wrap {

    }
    footer {
    grid-template-columns: repeat(2, 1fr);
    }
    .footer_section {
    font-size: 1.5em;   
    }
    .icon {
    display: flex;    
    }
    .wrap-1 {
    grid-template-columns: repeat(2, 1fr);  
    }
    .wrap {

    }
    .h1 {
        font-size:2em
    }
    .h {
        font-size:2em
    }
    .text-1 {
        font-size: 0.5em;
    }
    .text-2 {
        font-size: 0.5em;
    }